.con-accom {
  width: 100%;
  padding: 24px;
  height: max-content;
  /* padding-bottom: 15px; */
  background-color: #0a001b;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box-accom {
  width: 100%;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accom-left {
  height: auto;
  width: 40%;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.accom-left h2 {
  color: #efc36a;
}
.accom-left button {
  color: white;
  padding: 5px;
  border-radius: 8px;
  background-color: #efc36a;
  width: 110px;
  border-style: none;
}
.accom-right {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.accom-right img {
  height: 300px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .con-accom {
    height: max-content;
   
  }

  .box-accom {
    /* justify-content: center; */
    width: 100%;
    padding: 0 16px;
  }
  .accom-left {
    /* margin: 10px;
    padding: 12px; */
    height: auto;
    width: 100%;
  }
  .accom-right {
    display: none;
  }
}
