.reset-boss {
    background: url("https://rdv-bucket.s3.amazonaws.com/Website/bg_img1.webp") no-repeat center center/cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-family: 'Quintessential', sans-serif;
    color: #EFC36A;
    padding-top: 70px;
}

.reset-sub {
    backdrop-filter: blur(30px);
    border: 1px solid #FFCC76;
    border-radius: 5px;
    padding-left: calc(28/1920*100vw);
    padding-right: calc(28/1920*100vw);
    width: calc(535/1920*100vw);
    min-width: 300px;
    box-sizing: border-box;
    margin: auto;
    margin-left: calc(125/1920*100vw);
}

.reset-head {
    width: fit-content;
    margin-top: calc(45/1063*100vh);
    margin-left: auto;
    margin-right: auto;
    font-size: calc(41.5/1063*100vh);
    text-align: center;
}

.reset-boss input[type=text],
.reset-boss input[type=password] {
    padding: 0;
    padding-top: calc(5/1063*100vh);
    padding-bottom: calc(5/1063*100vh);
    border: none;
    border-bottom: 1px solid #ffcd7695;
    border-radius: 0;
    color: #EFC36A;
}

.reset-boss input[type=text]::placeholder,
.reset-boss input[type=password]::placeholder {
    color: #EFC36A;
    opacity: 0.5;
    font-size: calc(28/1063*100vh);
}

.reset-boss input[type=text]:focus,
.reset-boss input[type=password]:focus {
    padding: 0;
    padding-top: calc(5/1063*100vh);
    padding-bottom: calc(10/1063*100vh);
    border: none;
    border-bottom: 1px solid #ffcd7695;
    border-radius: 0;
    color: #EFC36A;
    outline: none !important;
    outline: 0 !important;
}

.reset-input {
    background: none;
    border-bottom: #FFCC76;
}

.reset-password-input {
    margin-top: calc(20/1063*100vh);
    margin-bottom: calc(20/1063*100vh);
}


.reset-center {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.reset-submit {
    height: calc(59/1063*100vh);
    width: calc(250/1920*100vw);
    min-width: 150px;
    padding: 0;
    border: 0.1px solid #ffcc76;
    border-radius: 2px;
    color: #EFC36A;
    background-color: #111935de;
    font-size: calc(30/1063*100vh);
    margin-bottom: calc(12/1063*100vh);
}

.reset-submit:hover {
    background-color: #111935de;
}

.reset-boss hr {
    height: 1.5px;
    background-color: #f6a000;
}

.signup-submit {
    height: calc(59/1063*100vh);
    width: calc(250/1920*100vw);
    padding: 0;
    border: 0.1px solid #ffcc76;
    border-radius: 2px;
    color: #EFC36A;
    background-color: #330428;
    font-size: calc(30/1063*100vh);
    margin-top: calc(12/1063*100vh);
}

.signup-submit:hover {
    background-color: #330428;
}

@media (max-width:768px) {
    .reset-boss {
        background: url("https://rdv-bucket.s3.amazonaws.com/Website/hmphbg.webp") no-repeat center center/cover;
    }

    .reset-sub {
        backdrop-filter: blur(35px);
        border: 1px solid #FFCC76;
        border-radius: 5px;
        padding-left: calc(30/430*100vw);
        padding-right: calc(30/430*100vw);
        width: calc(342/430*100vw);
        min-width: 200px;
        margin: auto;
    }

    .reset-head {
        margin-top: calc(25/622*100vh);
        margin-left: auto;
        margin-right: auto;
        font-size: calc(25/622*100vh);
    }

    .forgot-password-button {
        margin-right: calc(5/430*100vw);
        margin-bottom: calc(28/622*100vh);
    }

    .reset-submit {
        height: calc(31/622*100vh);
        width: calc(135/430*100vw);
    }

    .signup-submit {
        height: calc(31/622*100vh);
        width: calc(135/430*100vw);
    }
}