.login-form{
    background: rgba(8, 16, 45, 0.50);
    backdrop-filter: blur(25px);
    border-radius: 12px;
    border: 0.83px solid #FFCC76;
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.fp-head
{
    font-size: 2em;
}

.fp-det
{
    font-size: 1.3em;
}

.login-form .form-group{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    border: none;
    border-bottom: 1px solid #FFCC76;
    background-color: transparent;
    color: #EFC36A;
    outline: none;
}

.login-form input::-webkit-input-placeholder {
    border: none;
    padding: 0;
    color: #EFC36A;
    font-weight: 50;
}

.login-form button:hover {
    background-color: #020875e5;
}

.login-form .submit-button{
    color: #EFC36A;
    border: 0.8px solid #FFCC76;
    padding: 2% 10%;
}

.login form .form-sub-head{
    font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
    .login-form{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .fp-det
    {
        font-size: 1.2em;
    }

    .fp-head
    {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 768px) {
    .login-form{
        width: 100%;
    }

    .fp-det
    {
        font-size: 1em;
    }

    .fp-head
    {
        font-size: 1.5em;
    }
}