.rdv-hover:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

.rdv-hover-smooth:hover {
  transform: scale(1.03);
  transition: 0.1s;
}

body {
  background-color: #0a001b;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(239, 195, 106);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgb(22, 3, 46);
}

::-webkit-scrollbar-thumb:hover {
  background-color: yellow;
}
